<!-- lookup service list -->
<ba-card title="list service" baCardClass="with-scroll" *ngIf="flagHidden">
    <div class="form-horizontal col-md-10 offset-md-2">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Part</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" id="inputEmail3"  [(ngModel)]="filterPart.part" [ngModelOptions]="{standalone: true}"  placeholder="Cari berdasakan Part">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-7">
            <button class="btn btn-warning" (click)="buttonSearchClicked(filterPart.part)">Search</button>
            <button class="btn btn-success" (click)="onCancelBrowse()"><i class="ion-arrow-return-left"></i> Kembali</button>
            </div>
        </div>
    </div>
    <p-dataTable [value]="partList" [rows]="10" [paginator]="true" [pageLinks]="6" [rowsPerPageOptions]="[10,20,30]"
        [(selection)]="selectedParts"  [style]="{'color': 'black'}">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="KD_SPAREPART" header="Kode Part" [sortable]="true" [style]="{'width':'250px'}"></p-column> 
        <p-column field="NM_SPAREPART" header="Nama Part" [sortable]="true" ></p-column>
        <p-column field="NO_INVOICE" header="No. Faktur" [sortable]="true" [style]="{'width':'200px'}" ></p-column>
        <p-column field="HARGA" header="Harga" [sortable]="true" [style]="{'width':'100px'}" ></p-column>
        <p-column field="STOCK_CABANG" header="Qty" [sortable]="true" [style]="{'width':'100px'}" ></p-column>
    </p-dataTable>
    <br />
    <button class="btn btn-info" style="float:right;" (click)="onSelected(selectedParts)"><i class="ion-android-checkbox-outline"></i>  Select</button>
</ba-card>