<ba-card title="Maintain Customer">

    <div class="dropdownbtn">
        Zona : <select class="form-control" [(ngModel)]="selectedListZona">
            <option *ngFor="let lz of listZona" [value]="lz.value">  
            {{lz.label}}
            </option>
        </select>
    </div>
    <div hidden>
        Nama : <input type="text" class="form-control" [(ngModel)]="nama_customer">
    </div>
    <br>
    <button class="btn btn-primary" (click)="loadData()">Search</button>
    <button [disabled]="!HakAkses.HAK_INSERT" class="btn btn-primary" (click)="tambahCustomer()">Tambah Customer</button>
    <button [disabled]="!HakAkses.HAK_DELETE" class="btn btn-primary" (click)="massDeleteCustomer()" [disabled]="selectedCust.length <= 0">Delete Customer</button>

</ba-card>

<div [ngBusy]="busyloadevent"></div>

<ba-card title="Customer List" baCardClass="with-scroll table-panel">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Search">
    </div>
    <p-dataTable [value]="source" [(selection)]="selectedCust" [rows]="10" dataKey="KODE_CUSTOMER" [paginator]="true" [globalFilter]="gb"
        #dt>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="KODE_CUSTOMER" header="Kode Customer" [style]="{'color':'black'}"></p-column>
        <p-column field="NAMA_CUSTOMER" header="Nama Customer" [style]="{'color':'black'}"></p-column>
        <p-column field="KODE_ZONA" header="Kode Zona" [style]="{'color':'black'}"></p-column>
        <p-column field="NAMA_ZONA" header="Nama Zona" [style]="{'color':'black'}"></p-column>
        <p-column styleClass="col-button">
            <template pTemplate="header">
                <button type="button" pButton icon="fa-refresh"></button>
            </template>
            <template let-data="rowData" pTemplate="body">
                <button [disabled]="!HakAkses.HAK_EDIT" (click)="edit(data.KODE_CUSTOMER)" class="status-button btn btn-xs btn-primary">Edit</button>
            </template>
        </p-column>
        <p-column styleClass="col-button">
            <template pTemplate="header">
                <button type="button" pButton icon="fa-refresh"></button>
            </template>
            <template let-data="rowData" pTemplate="body">
                <button [disabled]="!HakAkses.HAK_DELETE" (click)="delete(data.KODE_CUSTOMER)" class="btn btn-xs btn-danger">Delete</button>
            </template>
        </p-column>
        <p-footer>
            <ul>
                <li *ngFor="let cust of selectedCust" style="text-align: left">{{cust.KODE_CUSTOMER + ' - ' + cust.NAMA_CUSTOMER}}</li>
            </ul>
        </p-footer>
    </p-dataTable>
</ba-card>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" style="color:black;"></p-confirmDialog>