<!-- lookup service list -->
<ba-card title="list faktur" baCardClass="with-scroll" *ngIf="flagHidden">
    <div class="form-horizontal col-md-10 offset-md-2">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">No. Faktur</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" id="inputEmail3"  [(ngModel)]="filterFaktur.no_fakur" [ngModelOptions]="{standalone: true}"  placeholder="Cari berdasakan No. Faktur">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-7">
            <button class="btn btn-warning" (click)="buttonSearchClicked()">Search</button>
            <button class="btn btn-success" (click)="onCancelBrowse()"><i class="ion-arrow-return-left"></i> Kembali</button>
            </div>
        </div>
    </div>

    <div [ngBusy]="busyloadevent"></div>

    <p-dataTable [value]="fakturList" [rows]="10" [paginator]="true" [pageLinks]="6" [rowsPerPageOptions]="[10,20,30]"
        selectionMode="single" [(selection)]="selectedService" (onRowSelect)="onRowSelect($event)" [style]="{'color': 'black'}">
        <p-column field="NO_INVOICE" header="No. Faktur" [sortable]="true"></p-column> 
        <p-column field="TANGGAL" header="Tanggal" [sortable]="true" ></p-column>
    </p-dataTable>
</ba-card>